.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: hsl(210, 10%, 23%);
}
.main h1{
    padding: 2rem;
    align-self: center;
}

.back{
    z-index: 0;
    position: absolute;
    top: 0;
}
.text{
    top: 0;
    z-index: 1;
    position: sticky;
}

.last{
    margin-top: 100px;
    background-color: white;
    height: 100vh
}

.buttonGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    color: white;

    position: sticky;
    top: 30px;
}